@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e6eff6;
    width: 100vw;
    max-width: 650px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: "Karla", sans-serif;
}
.container{
   max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-1{
    grid-column: 1 / span 2;
    background: #ffffff;
    padding-top: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 50px;
}

.item-2{
    background-color: #2bb3b1;
    width: 100%;
}

.item-3{
    background-color: #4abebd;
    width: 100%;
}
h1, h2, h3, h4, h5{
    padding-top: 30px;
    padding-left: 30px;
}
h1{
    color: hsl(218, 22%, 67%);
}
h2{
    font-size: 1rem;
    color: hsl(71, 73%, 54%);
}
.item-1 p{
    line-height: 1.5;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    color: hsl(179, 62%, 43%);
}
h3{
    color: #fff;
    font-weight: 400;
}
span{
    font-size: 2rem;
    padding-right: 5px;
    color: hsl(204, 43%, 93%);
    font-weight: 700;
}
button{
    padding: 15px 90px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
h4{
    padding-top: 20px;
    color: #4fc1c0;
    font-weight: 400;
}
h5{
    padding-top: 10px;
    color: hsl(204, 43%, 93%);
    font-weight: 400;
}
h6, .item-3 p{
    color: hsl(204, 43%, 93%);
    padding-top: 30px;
    padding-left: 30px;
    font-size: 1rem;
}
.item-3 p{
    line-height: 1.5;
    padding-right: 70px;
    font-weight: 400;
    font-size: .9rem;
}
@media(max-width: 768px){
    body{
        width: 100%;
    }
    .container{
        display: block;
    }
    .item-1, .item-2, .item-3{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .item-1{
        border-radius: 0;
    }
    .item-2{
        padding-bottom: 10px;
    }
    .item-3{
        padding-bottom: 70px;
    }
}